*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
/* stying nav bar */
.header{
    background: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images//developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
  
    
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}
.primary-color{
    color: #FD6E0A;
}
/* nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
} */
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
nav li{
    list-style: none;
    margin-left: 40px;
    
}
nav ul{
    display: flex;
    align-items: center;
}
.hire-btn{
    background-color: #FD6E0A;
    width: 150px;
    height: 64px;
    border-radius: 5px;
    border: 0;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    
}
/* banner style */
.banner-class{
    display: flex;
    align-items: center;
    margin: 0 200px;
}
.banner-title{
    font-weight: 700;
    font-size: 65px;

}
.banner-sub-title{
font-weight: 600;
font-size: 45px;

}
.banner-description{
    font-weight: 400;
    font-size: 18px;
}
.banner-contact{
    border: #FD6E0A 1px solid;
    border-radius: 5px;
    width: 150px;
    height: 65px;
    color: #FD6E0A;;
    background-color: transparent;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;

}
.download-cv{
    background-color: #FD6E0A;
    width: 200px;
    height: 64px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    color: white;
    border: none;
    margin-top: 30px;
    padding: 5px;

}
.main{

    max-width: 1140px;
    

}

.about-me{
    
    background: #FFF8F3;
    margin: 130px 230px ;
    text-align: center;
    padding: 100px;
}
.about-me-name{
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;
}
.about-me-des{
    color: #757575;
}
.details{
    margin-top: 20px;
    list-style:none;
    display: flex;
    gap: 5px;
    justify-content: space-around;
}
.name{
    font-weight: 400;
    font-size: 20px;
    color: #757575;
}
.info{
    font-weight: 700;
font-size: 20px;
}

/* Designing skills */
.skills-container{
    margin: 130px 230px ;
    margin-top: 20px;
}
.skills{
    display: flex;
    gap: 24px;
   
}
.skill{
    margin-top: 10px;
    background: #FFFFFF;
box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
border-radius: 5px;
width: 267px;
height: 377px;
padding: 30px;
}
.what-i-do{
    text-align: center;
    font-weight: 700;
    font-size: 35px;
}
.description{
    text-align: center;
    font-weight: 400;
    font-size: 18px;
}
.skill-title{
    margin-top: 38px;
    margin-bottom: 20px;
}
/* styling resume */
.resume-section{
    display: flex;
    margin: 150px;
    gap: 24px;
 
}
.resume-title{
    text-align: center;
    font-weight: 700;
font-size: 35px;

}
.education-title{
    font-weight: 700;
    font-size: 30px;
    color: #474747;
}
.degree-name{
    font-weight: 700;
font-size: 25px;
color: #474747;
}
.university{
    font-weight: 600;
font-size: 20px;
color: #757575;
}
.degree-details{
    font-weight: 400;
font-size: 16px;
color: #757575;

}
.education-details{
    margin-bottom: 30px;
    margin-top: 30px;
}
.resume-cv{
    text-align: center;
}
.resume-cv{
    text-align: center;
    
}
/* Designing contact-form */
.contact{
    background: #FFF8F3;
    height: 500px;
}
.contact-info{
    display: flex;
    margin: 150px;
    padding: 50px;
    gap: 36px;
}
.contact input{
    width: 461px;
    height: 64px;
    border: none;
    margin-bottom: 20px;
    padding: 5px;

}
textarea{
    border: none;
}
.contact-details p{
    font-weight: 400;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.contact-form h3{
    margin-bottom: 20px;
}

